{% extends 'base.html.twig' %}

{% block title %}La boulangerie{% endblock %}

{% block body %}
<h1> Boulangerie </h1>
<p>Vous êtes bien sur la page boulangerie, soyez patients, elle sera bientôt fonctionnelle </p>
{% endblock %}