{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<h1> Contact </h1>
<p>Vous êtes bien sur la page contact, soyez patients, elle sera bientôt fonctionnelle </p>
{% endblock %}