{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1> Accueil </h1>
<p>Vous êtes bien sur la page d'accueil, soyez patients, elle sera bientôt fonctionnelle </p>
{% endblock %}
