{% extends 'base.html.twig' %}

{% block title %}Les pâtisseries{% endblock %}

{% block body %}
<h1> Patisserie </h1>
<p>Vous êtes bien sur la page patisserie, soyez patients, elle sera bientôt fonctionnelle </p>
{% endblock %}